@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Spice&family=Chewy&family=Fredoka:wght@300..700&family=Luckiest+Guy&family=Monoton&family=Permanent+Marker&family=Press+Start+2P&family=Special+Elite&display=swap");

@import "tailwindcss";

body {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}
